<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missions</title>
</head>
<body>
    <h1>Mission index page</h1>

    <ul>
       <% for (let i = 0; i < marsMissions.length; i++) { %>
       <li>
          <a href="/index/<%= i %> ">
          <%= marsMissions[i].name %> 
        </a>
       </li>
       <% } %>
    </ul>
</body>
</html>